.demo {
    color: red;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: normal;
}
.radius {
    border: 2px solid dodgerblue;
    border-radius: 10px;
    padding: 20px;
}

.hide {
    display: none;
}
.show{
    display: block;
}
