* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: #ddd;
}
.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: #e1acac;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.section {
    width: calc(100% - 15%);
    height: 100vh;
    background-color: #ffffff;
    margin-left: 15%;
    overflow: hidden;
}

.section .topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 15%);
    margin-left: 15%;

    background-color: dodgerblue;
    background-image: linear-gradient(
        to right,
        #ff8177 0%,
        #ff867a 0%,
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%,
        #b12a5b 100%
    );
    padding: 24px 25px;
}

#toolbar {
    display: flex;
    align-items: center;
    gap: 15px;
}

#brand-name {
    font-family: sans-serif;
    font-size: 36px;
    color: #fff;
}
.section .topnav button {
    padding-top: 4px;
    height: 60px;
    width: 60px;
    border: none;
    background-color: #fff;
    font-size: 36px;
    cursor: pointer;
    border-radius: 50%;
    display: none;
}

.section .topnav button:hover {
    background-color: dodgerblue;
    color: #fff;
    transition: 0.3s;
}

#sidenav-menu {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 16px;
    padding-top: 36px;
}
#sidenav-menu button {
    border: none;
    padding: 12px 0px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#sidenav-menu button:hover {
    background: darkorange;
    color: #fff;
    cursor: pointer;
}

#register-btn {
    background: darkorange;
    color: #fff;
}

#content {
    margin-top: 100px;
    padding: 5px 40px;
    width: 70%;
    /* border: 4px solid red; */
}

#register,
#signin {
    display: none;
    margin: 30px 100px;
}
#register {
    display: block;
}

#register h1,
#signin h1 {
    text-align: center;
    margin-bottom: 36px;
    font-family: sans-serif;
    text-decoration: underline;
}

.card {
    padding: 24px;
    /* border-radius: 5px; */
    box-shadow: 0 0 10px 0 #ff8c7f;
}

#register-form,
#signin-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#register-form input,
#signin-form input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #fff;
    color: #323323;
    font-size: 16px;
}

#register-form input:focus,
#signin-form input:focus {
    /* outline: 0; */
    outline-color: #b12a5b;
}

#register button[type='submit'],
#signin button[type='submit'] {
    background-color: dodgerblue;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    /* width: fit-content; */
    /* margin: auto; */
}

#firstname-msg,
#lastname-msg,
#email-msg,
#password-msg,
#signin-email-msg,
#signin-password-msg {
    margin: 0;
    padding: 0;
    display: none;
    font-family: sans-serif;
}

#password-container,
#signin-password-container {
    position: relative;
}

#password-container input,
#signin-password-container input {
    width: 100%;
}
#password-container button,
#signin-password-container button {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: #f5f5f5;
    font-size: 18px;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .sidenav {
        width: 0;
    }
    .section,
    .section .topnav {
        width: 100%;
        margin-left: 0;
    }

    .section .topnav button {
        display: block;
    }
    #content {
        margin-top: 100px;
        /* padding: 5px 40px; */
        width: 100%;
        /* border: 4px solid red; */
    }

    /* // ----- */
    #sidenav-menu {
        display: flex;
        flex-direction: column;
        gap: 12px 0px;
        padding: 6px;
        padding-top: 36px;
    }
    #sidenav-menu button {
        border: none;
        padding: 12px 0px;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
    }
}
