* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ddd;
}

.container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    width: 20vw;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #ddd;
    border-top: 7vh solid #000;
    border-bottom: 2vh solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #323232;
    text-align: center;
    margin-top: 1vh;
}

#result {
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 5px;
    width: 90%;
    margin: 20px auto;
    font-family: sans-serif;
    font-size: 28px;
}

#btns-box {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    width: calc(90% + 16px);
    padding-top: 2vh;
    padding-bottom: 3vh;
}

#calc-btn {
    border: none;
    font-size: 22px;
    padding:  20px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    width: calc(25% - 16px);

}

#calc-btn:hover{
    color: #000;
    background: #e8c5c5;
    cursor: pointer;
    transition: 0.5s;
    outline: 2px solid #e8c5c5;
}


/* Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/*
input[type=number] {
  -moz-appearance: textfield;
} */